/*! Variables */
/* ==========================================================================*/

/* // Colors
//============ */

/* // https://coolors.co/130809-b0976d-cb333b-723e43-9b8d39 */
:root {
    --gold: rgba(176, 151, 109, 1); /* #B0976D */
    --red: rgba(203, 51, 59, 1); /* #CB333B */
    --coffee: rgba(114, 62, 67, 1); /* #723E43 */
    --green: rgba(155, 141, 57, 1); /* #9B8D39 */

    --black: rgba(19, 8, 9, 1); /* #130809 */
    --grey: rgba(237, 235, 235, 1); /* #EDEBEB */
    --white: rgba(255, 255, 255, 1); /* #FFFFFF */

    --gold-lighter: rgba(211, 198, 175, 1); /* #D3C6AF */

    --black25: rgba(19, 8, 9, 0.25);
    --black50: rgba(19, 8, 9, 0.5);
    --black75: rgba(19, 8, 9, 0.75);

    --white25: rgba(255, 255, 255, 0.25);
    --white50: rgba(255, 255, 255, 0.5);
    --white75: rgba(255, 255, 255, 0.75);

    --grey25: rgba(237, 235, 235, 0.25);
    --grey50: rgba(237, 235, 235, 0.5);
    --grey75: rgba(237, 235, 235, 0.75);


    /* // Social */
    --facebook: rgba(59, 89, 152, 1);
    --twitter: rgba(0, 172, 237, 1);
    --google: rgba(211, 72, 54, 1);
    --email: rgba(210, 210, 210, 1);
}
